<p>student-list works!</p>
<div class="student-list">
<h1>Student-List</h1>
<div *ngFor="let student of students" class="student-card">
    <h2>{{student.fullName}}</h2>
    <!-- <p><strong>Student ID:</strong> {{student.studentId}}</p> -->
    <p><strong>Gender:</strong>{{student.gender}}</p>
    <p><strong>Status:</strong>{{student.status}}</p>
    <div *ngIf="student.studentProfileEntity">
    <p><strong>Student Enrollment:</strong>{{student.studentProfileEntity.enrollementNumber}}</p>
    </div>
<div *ngIf="student.companyEntities">
    <h3>Companies</h3>
    <ul>
        <li *ngFor="let company of student.companyEntities">
            {{company.name}}
        </li>
    </ul>
</div>
<div *ngIf="student.resumeEntity">
    <h3>Resume</h3>
    <p>{{student.resumeEntity.resumeName}}</p>
    <a [href]="student.resumeEntity.resumeUrl" download>Download</a>
</div>
<hr>
<button (click)="viewStudentDetails(student.studentId)">View Full Profile</button>
</div>
</div>