
  <h5>Welcome to the Admin Panel Dashboard</h5>
<!--   
  <nav class="p-3">
    <ul class="nav nav-pills">
      <li *ngFor="let action of actions">
        <button  (click)="handleRoute(action)" class="btn btn-outline-success">
          {{action.title}}
          <i class="bi bi-{{action.icons}}"></i>
        </button>
      </li>
    </ul>
  </nav> -->
  <div class="dashboard-container">
    <div class="dashboard-buttons">
      <button mat-raised-button (click)="navigateToCompany()">Go to Company Management</button>
      <button mat-raised-button (click)="navigateToCompanyList()">Go to Company-List</button>
      <button mat-raised-button (click)="navigateToStudent()">Go to Student</button>
      <button mat-raised-button (click)="navigateToStudentList()">Go to Student-List</button>
      <button mat-raised-button (click)="navigateToStudentApproval()">Go to Student-ReportGenerate</button>
      <button mat-raised-button (click)="navigateToStudentStatus()">Go To Student-Approval</button>
      <button mat-raised-button (click)="navigateToStudentPlacment()">Go To Placment-Status-Updation</button>
<!-- 
      <button (click)="addKartik()"></button>
       -->
    </div>
    </div>